{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body>
    <header>
      <div class="h-wrap">
        <h1 class="title">
          <a href="{{ site.baseurl | split:'/' | join:'/' | append:'/'  }}" title="Back to Homepage">
            {{ site.title }}
          </a>
        </h1>
        <a class="menu-icon" title="Open Bio">
          <span class="lines"></span>
        </a>
      </div>
    </header>
  	{% include right_side.html %}
    {{ content | expand_urls: root_url }}
    {% include footer.html %}
    {% include disqus.html %}
  </body>

</html>
