<div class="off-canvas">
  <figure class="avatar">
    <img src="/images/avatar.jpeg" alt="Picture" title="That's me, {{ site.author }}.">
  </figure>
  <div class="bio">
      <h1>Hi, I'm {{ site.author }}.</h1>
      <p>{{ site.author-bio }}</p>
  </div>
  <nav>
    <h6>Follow me on</h6>
    <div class="social-icon-list">
      <a title="GitHub" href="https://github.com/winterbang" target="_blank">
        <img src="/images/glyphicons_social_21_github.png"/>
      </a>
      <a title="E-Mail" href="mailto:zwtao90@gmail.com" target="_blank">
        <img src="/images/glyphicons_social_39_e-mail.png"/>
      </a>
    </div>
  </nav>
  <nav>
    <a href="{{ site.category_dir }}">分类</a>
  </nav>
</div>

