---
layout: default
---

<div class="home-page">
  <div class="her-row nav-bar">
    <div class="container">
      <div class="row">
        {% include custom/home_landing_row.html %}
      </div>
    </div>
  </div>

  <div class="article-list">
    <div class="container">
      {% assign is_first = true %}
      {% for post in site.posts reverse %}

        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}

        {% unless year == this_year %}
          {% assign year = this_year %}
          {% if is_first %}
            {% assign is_first = false %}
          {% else %}
          </ul>
          {% endif %}

          <h3>{{ year }} 年</h3>
          <ul>
        {% endunless %}
          <li>
            <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
              {{ post.date | date: "<span class='month'>%m月</span> <span class='day'>%d日</span>"}}
            </time>
            -
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
      {% endfor %}

    </div>
  </div>

</div>
